<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <h1 class="text-center border-bottom mb-5">作品を投稿する</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 offset-sm-2 border">
    
    <%= form_with(model: @comment, local: true) do |f| %>
    
      <div class="form-group mt-4 mb-4">
        <%= f.label :content, "タイトル" %>
        <%= f.text_field :content, class: "form-control" %>
      </div>
      
      <div class="form-group mb-4">
        <%= f.label :image, "画像URL" %><br>
        <%= f.file_field :image, class: "btn btn-secondary col-sm-9" %><span class="col-sm-2 ml-4"><%= f.submit "投稿する", class: "btn btn-primary btn-lg" %></span>
      </div>
      
    <% end %>
    
  </div>
</div>